@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;
}

.cormorant {
  font-family: var(--font-cormorant);
}

.page {
  @apply px-[1rem] sm:max-w-[500px] md:max-w-[640px] lg:max-w-[768px] xl:max-w-[1024px] 2xl:max-w-[1280px] ;
}

.button {
  @apply w-full text-black bg-gradient-to-b from-[#FFD8AF] to-[#FDBA74];
}

.buttonSm {
  @apply w-[25rem] bg-none border border-[#F59E0B]
}